# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
xcuserdata/
*.xccheckout
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.hmap

# Build artifacts
*.ipa
*.dSYM
*.dSYM.zip
build/
DerivedData/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
# Descomente se não quiser versionar resoluções de dependências:
# Package.resolved

# CocoaPods
# Pods/
# *.xcworkspace

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Editors
.idea/
*.swp
*.swo
